h1 {
    color:darkgreen;
}

p{
    color: #333333
}
.container{
    width: 500px;
    background-color:#dddddd;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #666666;
}